<div id="your-dashboard">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">  
        <div class="col-md-4">
          <h2 class="dashboard-header">Your Dashboard</h2>
        </div>
        <div class="col-md-8">
          <div class="dashboard-form">  
            <div class="hidden-xs hidden-sm">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %>  
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input', size: '40', autofocus: true %>
                  <button class="btn btn-black btn-lg" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
            <div class="hidden-md hidden-lg">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %> 
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input mobile-input', autofocus: true, size: '52' %>  
                  <button class="btn btn-black btn-lg btn-block btn-mobile" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="donations">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 panel-donation">
      <div class="row">
        <div class="col-xs-12 col-sm-6"> 
          <h4 class="dash-subheading" style="padding-bottom: 40px;">Donation History</h4>
          <div class="row">  
            <div class="col-xs-6">
              <h6 class="white-text">Your campaigns have raised</h6>
              <p class="donation-amounts">$6843.00</p>
            </div>
            <div class="col-xs-6">
              <h6 class="white-text">You have personally donated</h6>
              <p class="donation-amounts">$323.00</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4 class="dash-subheading">Quick Donate</h4>
          <div class="row">  
            <div class="col-sm-6">
              <p><input class="form-control input-lg main-input" placeholder="Greenpeace"></input></p>
              <p><input class="form-control input-lg main-input" placeholder="$20.00"></input></p>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-black btn-lg btn-donate-now">DONATE NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <hr>
  </div>
</div>

<div id="campaigns">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h2 class="page-heading">Your Submissions</h2>
    <div class="row featured-cards">
      <% @submissions.each do |submission| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="<%= submission_path(submission) %>">  
            <div class="card index-card">
              <img class="card-img-top" src="<%= submission.image %>" width="100%" height="180px" alt="<%= submission.title %>">
              <div class="card-block">
                <div class="row">  
                  <div class="col-xs-12">
                    <h4 id="card-title"><%= truncate(submission.title, length: 55) %></h4>
                    <p id="card-text"><%= strip_url(submission.url) %></p>
                  </div>
                </div>
                  <footer>
                    <h5 id="card-clicks"><%= submission.link_clicks %> Actions Taken</h5>
                    <span><%= link_to "Take Action", submission_path(submission.id), class: 'btn btn-black-trending pull-right' %></span>
                  </footer>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
