<div id="your-dashboard">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-md-4">
          <!-- charity name if charity, user's name if normal user -->
          <% if current_user.first_name.present? && current_user.charity_id.present? %>
            <h3 class="dashboard-header"><%= @charity.name.last == "s" ? @charity.name + "'" : @charity.name + "'s"  %> Dashboard</h3>
          <% elsif current_user.first_name.present? %>
            <h2 class="dashboard-header"><%= current_user.first_name.last == "s" ? current_user.first_name + "'" : current_user.first_name + "'s"  %> Dashboard</h2>
          <% else %>
            <h2 class="dashboard-header">Your Dashboard</h2>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="dashboard-form pull-right">
            <div class="hidden-xs hidden-sm">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %>
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article or video", class: 'form-control input-lg main-input', size: '40', autofocus: true %>
                  <button class="btn btn-black btn-lg" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
            <div class="hidden-md hidden-lg">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %>
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input mobile-input', autofocus: true, size: '52' %>
                  <button class="btn btn-black btn-lg btn-block btn-mobile" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="donations">
  <div class="container">
    <div class="panel-donation-margin">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
          <% if current_user.charity_id.present? %>
            <div class='dashboard-buttons pull-right'>         
            <%= link_to ('  <i class="fa fa-users" aria-hidden="true"></i> Donor Information').html_safe, donations_path, class: 'btn btn-default' %>
            <%= link_to ('  <i class="fa fa-wrench" aria-hidden="true"></i> Edit Categories').html_safe, charity_categories_path, class: 'btn btn-default' %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="donations">
  <div class="container">
    <div class="panel-donation-margin">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 panel-donation">
        <div class="row">
          <h4 class="dash-subheading" style="padding-bottom: 20px;"> Campaign Stats <i class="fa fa-bar-chart" aria-hidden="true"></i></h4>
          <div class="col-xs-4">
            <p class="dashboard-stat"><span class="integer" data-from="0" data-to="<%= @views %>" data-speed="1000" data-refresh-interval="50"></span></p>
            <p class="dashboard-category">
              Views 
              <span type="button" data-toggle="tooltip" data-placement="right" 
                title='<%= @views_title %>'>
                <i style="font-size:18px;" class="fa fa-question-circle"></i>
              </span>
            </p>
          </div>
          <!-- if charity, number of donations you've copped. if normal user, actions taken -->
          <% if current_user.charity_id.present? %>
            <div class="col-xs-4">
              <p class="dashboard-stat"><span class="integer" data-from="0" data-to="<%= 
              @donation_count %>" data-speed="1000" data-refresh-interval="50"></span></p>
              <p class="dashboard-category">Donations made <span type="button" data-toggle="tooltip" data-placement="right" title='The total number of donations that have been made to <%= @charity.name %>.'><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
            </div>
          <% else %>
            <div class="col-xs-4">
              <p class="dashboard-stat"><span class="integer" data-from="0" data-to="<%= 
              @link_clicks %>" data-speed="1000" data-refresh-interval="50"></span></p>
              <p class="dashboard-category">Actions Raised <span type="button" data-toggle="tooltip" data-placement="right" title="The total number of actions that have been taken on your campaigns."><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
            </div>
          <% end %>
          <div class="col-xs-4">
            <p class="dashboard-stat"><span>$</span><span class="currency" data-from="0" data-to="<%= @amount_raised %>" data-speed="1000" data-refresh-interval="50"></span></p>
            <p class="dashboard-category">Raised <span type="button" data-toggle="tooltip" data-placement="bottom" title='<%= @amount_raised_title %>'><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
          </div>
        </div>
        <div class='row'>
            <!-- submissions linked to you if charity, how much youve donated if normal user -->
            <% if current_user.charity_id.present? %>
            <% else %>
              <div class="col-xs-4">
                <p class="dashboard-stat"><span>$</span><span class="currency" data-from="0" data-to="<%= @donation_total %>" data-speed="1000" data-refresh-interval="50"></span></p>
                <p class="dashboard-category">Donated <span type="button" data-toggle="tooltip" data-placement="bottom" title="The total amount you have donated yourself."><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
              </div>
              <div class="col-xs-4">
                <p class="dashboard-stat"><span class="integer" data-from="0" data-to="<%= @submission_count %>" data-speed="1000" data-refresh-interval="50"></span></p>
                <p class="dashboard-category">Submissions <span type="button" data-toggle="tooltip" data-placement="bottom" title="How many submissions you have made."><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
              </div>
              <div class="col-xs-4">
                <p class="dashboard-stat"><span class="integer" data-from="0" data-to="<%= @rank %>" data-speed="1000" data-refresh-interval="50"></span></p>
                <p class="dashboard-category">Your Rank (out of <%= @users.count %>) <span type="button" data-toggle="tooltip" data-placement="bottom" title="This ranks all of our users according to how much money their submissions have raised in total."><i style="font-size:18px;" class="fa fa-question-circle"></i></span></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <hr>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if @submissions.any? %>
      <h2 class="page-heading"><%= @linked_submission_title %></h2>
      <div class="row featured-cards">
        <% @submissions.each do |submission| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="<%= submission_path(submission) %>">
              <div class="card-home index-card">
                <img class="card-img-top" src="<%= submission.image %>" width="100%" height="180px" alt="<%= submission.title %>">
                <div class="card-block">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 id="card-title"><%= truncate(submission.title, length: 55) %></h4>
                      <p id="card-text"><%= strip_url(submission.url) %></p>
                    </div>
                  </div>
                  <% if submission.submission_type == "petition" %>
                    <h5 id="card-clicks"><span class="badge"><%= submission.link_clicks %></span> Signatures</h5>
                    <% else %>
                    <h5 id="card-clicks"><span class="badge">$<%= @donations.where(submission_id: submission.id).sum(:amount).to_i / 100 %></span> Raised</h5>
                  <% end %>
                  <footer>
                    <h5 id="card-views"><%= submission.created_at>DateTime.new(2016,03,24) ? submission.impressionist_count : (submission.impressionist_count + 80 +rand*100).round %> Views</h5>
                    <span><%= link_to "Take Action", submission_path(submission.id), class: 'btn btn-black-trending pull-right' %></span>
                  </footer>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if current_user.charity_id.present? %>
        <center>
          <h2 class="dash-subheading" style="padding: 70px 0 10px 0;">No submissions have been linked to <%= @charity.name %></h2>
          <%= render 'shared/get_started_form' %>
        </center>
      <% else %>
        <div class="text-center">
          <h2 class="dash-subheading" style="padding: 70px 0 10px 0;">You haven't started a campaign yet!</h2>
          <%= render 'shared/get_started_form' %>
        </div>
        <h3 class="dash-subheading text-center" style="padding-top:80px;">Some campaigns other Small Changers have started.</h3>
        <%= render 'shared/featured' %>
        <div class="hidden-xs text-center">
          <%= link_to 'View all', submissions_path, class: 'btn btn-black btn-lg' %>
        </div>
        <div class="hidden-sm hidden-md hidden-lg text-center">
          <%= link_to 'View all', submissions_path, class: 'btn btn-black btn-lg btn-block' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.currency').countTo({
    speed: 1000,
    refreshInterval: 50,
    formatter: function (value, options) {
      return value.toFixed(2);
    },
    onUpdate: function (value) {
      console.debug(this);
    },
    onComplete: function (value) {
      console.debug(this);
    }
  });

  $('.integer').countTo({
    speed: 1000,
    refreshInterval: 50,
    onUpdate: function (value) {
      console.debug(this);
    },
    onComplete: function (value) {
      console.debug(this);
    }
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
