<div id="your-dashboard">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">  
        <div class="col-md-4">
          <h2 class="dashboard-header">Your Dashboard</h2>
        </div>
        <div class="col-md-8">
          <div class="dashboard-form pull-right">  
            <div class="hidden-xs hidden-sm">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %>  
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input', size: '40', autofocus: true %>
                  <button class="btn btn-black btn-lg" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
            <div class="hidden-md hidden-lg">
              <%= simple_form_for(@submission) do |f| %>
                <%= f.error_notification %> 
                <div class="form-inline">
                  <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input mobile-input', autofocus: true, size: '52' %>  
                  <button class="btn btn-black btn-lg btn-block btn-mobile" type="submit">CREATE NEW CAMPAIGN</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="donations">
  <div class="container">
    <div class="panel-donation-margin">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 panel-donation">
      <div class="row">
        <div class="col-xs-12 col-sm-6"> 
          <h4 class="dash-subheading" style="padding-bottom: 40px;">Campaign Stats</h4>
          <div class="row">  
            <div class="col-xs-6">
              <h6 class="white-text">Actions on your campaigns</h6>
              <p class="action-amounts"><%= @submissions_actions %> Actions</p>
            </div>
            <div class="col-xs-6">
              <h6 class="white-text">You have personally made</h6>
              <p class="action-amounts"><%= @user_actions %> Actions</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4 class="dash-subheading">Rank</h4>
          <div class="row text-center">  
            <h1 class="user-rank">Coming soon</h1>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Rankings -->
<!-- <div class="container">
  <%# @users.each_with_index do |user, index| %>
    <p class="lead"><%#= user.submissions.sum(:link_clicks) %> <%#= index %></p>
  <%# end %>
</div> -->

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <hr>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if @submissions.any? %> 
      <h2 class="page-heading">Trending Articles</h2>
      <div class="row featured-cards"> 
        <% @submissions.each do |submission| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="<%= submission_path(submission) %>">  
              <div class="card index-card">
                <img class="card-img-top" src="<%= submission.image %>" width="100%" height="180px" alt="<%= submission.title %>">
                <div class="card-block">
                  <div class="row">  
                    <div class="col-xs-12">
                      <h4 id="card-title"><%= truncate(submission.title, length: 55) %></h4>
                      <p id="card-text"><%= strip_url(submission.url) %></p>
                    </div>
                  </div>
                    <footer>
                      <h5 id="card-clicks"><%= submission.link_clicks %> Actions Taken</h5>
                      <span><%= link_to "Take Action", submission_path(submission.id), class: 'btn btn-black-trending pull-right' %></span>
                    </footer>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center">
        <h4 class="dash-subheading" style="padding: 70px 0 10px 0;">You haven't started a campaign yet!</h4>
        <%= render 'shared/get_started_form' %>
      </div>
    <% end %>
  </div>
</div>