
    <div class ='charitysign'>
     <%= link_to 'Charity Sign In', user_session_path, class: 'btn btn-primary btn-sm'%>
    </div>

    <div class='row centre other_heading'>
        <div class='other_heading'>Make your Facebook post meaningful.</div>
      </div><br>     

          <div class = 'centre'>
            <br>     <%= link_to 'Sign Up For Beta Version', new_user_registration_path, class: 'btn btn-success btn-lg centre'%>
          </div><br>

       <div class = 'row'><br>
        <div class = 'col-md-2'></div>
        <div class = 'col-md-2'>
          <%= image_tag "3.png", size: "150x150", :class => 'logo-img' %>
        </div>
        <div class = 'col-md-7'>
          <p class = 'benefits'> Put an action bar on the links you share on Facebook. End your slacktivism. </p>
        </div>
      </div>

      <div class = 'row'><br>
        <div class = 'col-md-2'></div>
        <div class = 'col-md-2'>
          <%= image_tag "1.png", size: "150x150", :class => 'logo-img' %>
        </div>
        <div class = 'col-md-6'>
          <p class = 'benefits'> Have all your donation receipts in the one place. Super useful at tax time. </p>
        </div>
      </div>

      <div class = 'row'><br>
        <div class = 'col-md-2'></div>
        <div class = 'col-md-2'>
          <%= image_tag "2.png", size: "150x150", :class => 'logo-img' %>
        </div>
        <div class = 'col-md-6'>
          <p class = 'benefits'> Track your impact through our donation dashboard. Scientific altruism. </p>
        </div>
      </div>

       <div class = 'row'><br>
        <div class = 'col-md-2'></div>
        <div class = 'col-md-2'>
          <%= image_tag "4.png", size: "150x150", :class => 'logo-img' %>
        </div>
        <div class = 'col-md-7'>
          <p class = 'benefits'> Remember your details from last time. Low friction philanthropy. </p>
        </div>
      </div>






