<% provide(:title, "Choose Charity") %>

<!--- STEP 1,2,3 HEADINGS -->
<div class = "centre">
  <div class="row">
      <div class = 'col-md-3'>
        <% if !params[:charity] %>
           <h3> Step 1: Your Article </h3>
        <% end %>
      </div>
      <div class = 'col-md-3'>
        <h2> </h2>
      </div>
      <div class = 'col-md-4'>
        <% if !params[:charity] %>
           <h3> Step 2: Select Related Charity </h3>
        <% end %>
      </div>
      <div class = 'col-md-3'>
        <% if params[:charity] %>
          <h3> Step 3: Donate </h3>
        <% end %>
      </div>
  </div>
</div>
    

<br>




<!-- Article Column-->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class ="row">
          <%= image_tag @submission.image, class: 'img-responsive centre' %><br>
        </div>
          <div class = "centre">
            <div class = "row">
              <div class = 'col-md-1'></div>
              <div class = 'col-md-10'><em><%= @submission.title %></em><br>
              </div>
              <div class = 'col-md-1'></div>
            </div>
          </div>
          <div class = "row">
            <div class="centre">
              <br><%= image_tag @submission.favicon, size: "80x80",  class: 'img-resposive' %>
            </div>
          </div>
      </div>
    </div>
  </div>

<!-- Causes and Charity Boxes-->

<div class="col-md-9">
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Causes</h2>
          <div class="row">
            <div class = 'col-md-6'></div>
            <div class = 'col-md-6 '><%= link_to "All causes", choose_charity_path(submission: params[:submission]), class: 'btn btn-default' %></div>
          </div>
        <% @causes.each do |cause| %>
        <div class = "name-format">
          <br/>
          <% if params[:charity] %>
            <a href="<%= choose_charity_path(submission: params[:submission], cause: cause.id) %>" class="btn btn-block btn-<%= cause.id == Charity.find(params[:charity]).cause.id ? 'success' : 'default' %>"><%= cause.name %></a>
          <% else %>
            <a href="<%= choose_charity_path(submission: params[:submission], cause: cause.id) %>" class="btn btn-block btn-default"><%= cause.name %></a>
          <% end %>
          
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Charities</h2>
          <div class="top-right">
          </div> <br> <br><br>
          <% @charities.each do |charity| %>
            <div class = "name-format">
              <a href="<%= choose_charity_path(cause: params[:cause], charity: charity.id, submission: params[:submission]) %>" class="btn btn-block btn-<%= charity.id == params[:charity].to_i ? 'success' : 'default' %>"><%= charity.name %></a><br>
              
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @charity %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          





  <p class = 'big-font'> <%= @charity.name %> </h1>  <p>

    <div class="row">
    <div class = 'col-md-2'></div>
      <div class="col-md-8">
            <div class="centre">
             <%= link_to cl_image_tag(@charity.logo, size: "150x150", :class => 'img-responsive'), charity_path(@charity.id) %> 
            </div>  
    </div>
        <div class = 'col-md-2'></div>

  </div>

  <div class="row">
    <br/>
       <div class = "name-format">
          <div class ="centre">
              <%= link_to image_tag('CONNECT.png', size: "130x130",class: 'connect'), submission_path(@submission, charity: @charity.id, setup: 'true') %>
          </div>
       </div>
  </div>

    <div class = 'row'>
      <div class = 'col-md-1'>
      </div>
      <div class = 'col-md-10'>
         <div class = 'centre'><br>
        <p class = 'name-format'> <%= @charity.activity_one %>, <%= @charity.activity_two %>, <%= @charity.activity_three %> </p>
      </div>
      </div>
      <div class = 'col-md-1'>
      </div>

   
    </div>



      <%if @charity.name.length <  30 %>
          <% @title = @charity.name %>
      <% else%>
        <% @title = "Charity Profile" %>
      <%end%>


  <div class="row">
    <div class = "name-format">
      <div class = "centre">
        <br/><br/><%= link_to @title, @charity.url , class: "btn btn-md btn-default", :target => "_blank" if @charity.url %>
        <br>
    </div>
      
    </div>
  </div><br/>



<% end %>



  </div>

</div>


</div>
</div>

