<% provide(:title, "FAQ") %>

<h1>Frequently Asked Questions</h1> <br><br><br>

<div class = "FAQ_List">


		<div class = "row">
			<div class = "col-md-12">
				<p><b> 1. How much of my donation will actually go to charity? </b></p><br>
				<p> 98%  -   We need to take 2% to give to the bloody payment serivce providers. </p>
			</div>
		</div>


    


		<div class = "logo">
  			<%= image_tag "logo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p><b> 2.	Is Small Change a non-profit organisation? </b></p><br>
				<p> No. We're a social enteprise. I don't really know the answer yet but we'll need a response about this long </p>
			</div>
		</div>


		<div class = "logo">
  			<%= image_tag "logo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p><b> 3. How does Small Change cover its costs?</b></p><br>
				<p> We take donations for Small Change <em><%= link_to "here", "#"%></em>. Second sentence roughly about this length. </p>
			</div>
		</div>


		<div class = "logo">
  			<%= image_tag "logo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p><b> 4. What can I do to support Small Change?</b></p><br>
				<p> What we need more than funding is a growing user base. Share our videos with anyone who you think will like Small Change and ask them to do the same. </p>
			</div>
		</div>


		<div class = "logo">
  			<%= image_tag "logo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


</div>






<%= render 'layouts/footer' %>