<% provide(:title, "FAQ") %>
<%= render 'layouts/header'%>
<div class = 'other_heading'>
<br><h1 class = 'other_heading'>Frequently Asked Questions</h1> <br><br>
</div>
<div class = "FAQ_List">


		<div class = "row">
			<div class = "col-md-12">
				<p class = 'white'><b> 1. How much of my donation will actually go to charity? </b></p><br>
				<p> We don't take a clip. But the bloody payment providers take a fee per transaction (around 10c). </p>
			</div>
		</div>


    


		<div class = "logo">
  			<br><%= image_tag "greenlogo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p class = 'white'><b> 2.	Is Small Change a non-profit organisation? </b></p><br>
				<p> No. We're a social enteprise. Small Change was founded by a lawyer and a programmer. We're not doing this for the money. </p>
			</div>
		</div>


		<div class = "logo">
  			<br><%= image_tag "greenlogo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p class = 'white'><b> 3. How does Small Change cover its costs?</b></p><br>
				<p> We are funded by impact investors. We also sell data to charities that helps them understand the behaviour of donors. </p>
			</div>
		</div>


		<div class = "logo">
  			<br><%= image_tag "greenlogo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


		<div class = "row">
			<div class = "col-md-12">
				<p class = 'white'><b> 4. What can I do to support Small Change?</b></p><br>
				<p> What we need more than funding is a growing user base. Sign up to join our platform <%= link_to 'here', ''%>. </p>
			</div>
		</div>


		<div class = "logo">
  			<br><%= image_tag "greenlogo.png", :size => "30x27", :class => 'logo-img', alt: "Rails logo" %>
    	</div><br><br>


    	<div class = "row">
			<div class = "col-md-12">
				<p class = 'white'><b> 5. I'm a charity. How do I get on Small Change so people can donate to us?</b></p><br>
				<p> Great, email Sam on sam at smallchangegiving.net. Obviously put @ instead of 'at', I just don't want bots scraping my email if I can avoid it :) </em></p>
			</div>
		</div>


</div>






<%= render 'layouts/footer' %>