<% provide(:title, "How It Works") %>


<div class = "hiy-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/zpZHUjKnDpE" frameborder="0" allowfullscreen></iframe>
</div>

<br/><br/><br/><br/>

<h1>How Small Change Works</h1><br/><br/><br>





<div class = "hiy-images">

		<div class = "row">

			<div class = "col-md-3">

				<%= link_to image_tag("article.png", :size => "135x145", :class => 'founders-img', title: "Read Article") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("chain-link.png", :size => "135x145", :class => 'founders-img', title: "Link Article To Charity") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("currency_exchange.png", :size => "135x145", :class => 'founders-img', title: "Give Loose Change") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("Social-Share.png", :size => "135x145", :class => 'founders-img', title: "Share Article with Small Change Link") %> 
			</div>

		</div>

		<br/><br/><br/>

		<div class = "row">

			<div class = "col-md-3">

				<p><b>View News Article or Video that motivates you to take action</b></p>

			</div>

			<div class = "col-md-3">

				<p><b>"Bind" Article To A Related Charity on smallchange.org</b></p>
				
			</div>

			<div class = "col-md-3">

				<p><b>Donate small change To The Related Charity You Chose</b></p>
				
			</div>

			<div class = "col-md-3">

				<p><b>Share Article (and Small Change donate button) on Social Media To Motivate Others</b></p>
				
			</div>

		</div>








</div>














<%= render 'layouts/footer' %>