<% provide(:title, "How It Works") %>


<div class = "hiy-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/zpZHUjKnDpE" frameborder="0" allowfullscreen></iframe>
</div>

<br/><br/><br/><br/>

<h1>How Small Change Works</h1><br/><br/>





<div class = "hiy-images">

		<div class = "row">

			<div class = "col-md-3">

				<%= link_to image_tag("article.png", :size => "135x145", :class => 'founders-img', alt: "Henry Wells", title: "Read Article") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("chain-link.png", :size => "135x145", :class => 'founders-img', alt: "Henry Wells", title: "Link Article To Charity") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("currency_exchange.png", :size => "135x145", :class => 'founders-img', alt: "Henry Wells", title: "Give Loose Change") %> 
			</div>

			<div class = "col-md-3">

				<%= link_to image_tag("Social-Share.png", :size => "135x145", :class => 'founders-img', alt: "Henry Wells", title: "Share Article with Small Change Link") %> 
			</div>

		</div>

		<br/><br/><br/>

		<div class = "row">

			<div class = "col-md-3">

				<p><b>View Article or Video</b></p>

			</div>

			<div class = "col-md-3">

				<p><b>Link Content To A Related Charity</b></p>
				
			</div>

			<div class = "col-md-3">

				<p><b>Donate small change</b></p>
				
			</div>

			<div class = "col-md-3">

				<p><b>Share through Small Change</b></p>
				
			</div>

		</div>








</div>














<%= render 'layouts/footer' %>