<p id="notice"><%= notice %></p>

<h1>Listing Charity Categories</h1>

<table>
  <thead>
    <tr>
      <th>Charity</th>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_categories.each do |charity_category| %>
      <tr>
        <td><%= charity_category.charity %></td>
        <td><%= charity_category.category_name %></td>
        <td><%= link_to 'Show', charity_category %></td>
        <td><%= link_to 'Edit', edit_charity_category_path(charity_category) %></td>
        <td><%= link_to 'Destroy', charity_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity category', new_charity_category_path %>
