

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="form-box">
    <center><h1 class="page-heading"><%= @index_title %></h1></center>
    <div class='col-md-10 col-md-offset-1'>
      <table class="table table-hover">
        <thead>
          <tr class='charity-cat-first-row'>
            <th>Charity</th>
            <th>Category name</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @charity_categories.each do |charity_category| %>
            <tr class='charity-cat-row'>
              <td><%= charity_category.charity.name %></td>
              <td><%= charity_category.category_name %></td>
              <td><%= charity_category.description if charity_category.description%></td>
              <td><%= link_to 'Show', charity_category, class: 'btn btn-black-small' %></td>
              <td><%= link_to 'Edit', edit_charity_category_path(charity_category), class: 'btn btn-black-small' %></td>
              <td><%= link_to 'Destroy', charity_category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-black-small' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Charity category', new_charity_category_path, class: "btn btn-lg btn-black" %>
    </div>
  </div>
</div>




