<h3>Charities (<%= @charities.count %>)</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>BSB</th>
      <th>Contact name</th>
      <th>Contact email</th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.bsb %></td>
        <td><%= charity.contact_name %></td>
        <td><%= charity.contact_email %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>