<h3>Donations (<%= @donations.count %>)</h3>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Charity</th>
      <th>Donor Email</th>
      <th>Submission Title</th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= donation.charity.try(:name) %></td>
        <td><%= @users.find(donation.user_id).email %></td>
        <td><%= truncate(donation.submission.try(:title), length: 30) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>