<h3>Submissions (<%= @submissions.count %>)</h3>

<%= link_to "Most Actioned", admin_index_path(submissions: true, most_actioned: true), class: (params[:most_actioned] || !params[:most_actioned] && !params[:most_recent] ? 'btn btn-black' : 'btn btn-black-default') %>
<%= link_to "Most Recent", admin_index_path(submissions: true, most_recent: true), class: (params[:most_recent] ? 'btn btn-black' : 'btn btn-black-default') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Views</th>
      <th>Actions</th>
      <th>Title</th>
      <th>Source</th>
      <th>Type</th>
      <th>Date</th>
      <th>Donations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.find_each do |submission| %>
      <tr>
        <td><%= submission.impressionist_count %></td>
        <td><%= submission.link_clicks %></td>
        <td><%= truncate(submission.title, length: 30) %></td>
        <td><%= strip_url(submission.url) %></td>
        <td><%= submission.submission_type %></td>
        <td><%= submission.created_at.to_formatted_s(:short) %></td>
        <td><%= number_to_currency(submission.donations.sum(:amount).to_i / 100) %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Charity', edit_submission_path(submission) if submission.submission_type=="donation" %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'You are about to delete this entry.Sure you want to do this?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>