<p class='admin-header'>Small Change Summary</p>
<div class="admin-box">
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
      <p class="admin-stat"><%= @users.count %></p>
      <p class="admin-category">Users</p>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
      <p class="admin-stat">X</p>
      <p class="admin-category">Views</p>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
      <p class="admin-stat">$<%= @donation_total%></p> 
      <p class="admin-category">Amount Raised</p>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
      <p class="admin-stat"><%= @donations.count %></p>
      <p class="admin-category">Donations</p>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
     <p class="admin-stat"><%= @link_clicks %></p>
     <p class="admin-category"> Actions</p>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-md-3">
    <div class="panel">
     <p class="admin-stat"><%= @submissions.count %></p>
     <p class="admin-category"> Submissions</p>
    </div>
  </div>
</div>