<h3>Users (<%= @users.count %>)</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Mobile</th>
      <th>Actions Taken</th>
      <th>Sign In Count</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %> </td>
        <td><%= user.last_name %> </td>
        <td><%= user.mobile %> </td>
        <td><%= user.actions_taken %> </td>
        <td><%= user.sign_in_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>