<% provide(:title, "Admin") %>

<div class='container'>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if current_user.admin %>
      <div class="panel">
        <div class="admin-buttons">
          <%= link_to "Summary", admin_index_path(summary: true), class: 'btn btn-black-admin' %>
          <%= link_to "Users", admin_index_path(users: true), class: 'btn btn-black-admin' %>
          <%= link_to "Submissions", admin_index_path(submissions: true), class: 'btn btn-black-admin' %>
          <%= link_to "Charities", admin_index_path(charities: true), class: 'btn btn-black-admin' %>
          <%= link_to "Donations", admin_index_path(donations: true), class: 'btn btn-black-admin' %>
        </div>
          <div class="panel-body">
            <%= render 'summary' if  params[:summary] %>
            <%= render 'submissions' if  params[:submissions] %>
            <%= render 'users' if params[:users] %>
            <%= render 'charities' if params[:charities] %>
            <%= render 'donations' if params[:donations] %>
          </div>
      </div>
    <% else %>
     <h2 class="page-heading">Oops, it seems like you've taken a wrong turn.</h2>
     <div class='btn-admin'>
      <%= link_to "Jump Back To Our Hompage", root_path, class: 'btn btn-black btn-lg' %>
    </div>
    <% end %>
  </div>
</div>
