<div class="row featured-cards">
  <% @featured_submissions.each do |submission| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="<%= submission_path(submission) %>">
        <div class="card-home index-card">
          <img class="card-img-top" src="<%= submission.image %>" width="100%" height="180px" alt="<%= submission.title %>">
          <div class="card-block">
            <div class="row">
              <div class="col-xs-12">
                <h4 id="card-title"><%= truncate(submission.title, length: 55) %></h4>
                <p id="card-text"><%= strip_url(submission.url) %></p>
              </div>
            </div>
            <% if submission.submission_type == "petition" %>
              <h5 id="card-clicks"><span class="badge"><%= submission.link_clicks %></span> Signatures</h5>
              <% else %>
              <h5 id="card-clicks"><span class="badge">$<%= @donations.where(submission_id: submission.id).sum(:amount).to_i / 100 %></span> Raised</h5>
            <% end %>
            <footer>
              <h5 id="card-views"><%= submission.created_at>DateTime.new(2016,03,24) ? submission.impressionist_count : (submission.impressionist_count + 80 +rand*100).round %> Views</h5>
              <span><%= link_to "Take Action", submission_path(submission.id), class: 'btn btn-black-trending pull-right' %></span>
            </footer>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
