<% unless user_signed_in? %>
  <% unless params[:clear] %>
    <!-- Modal -->
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="close-btn">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">I came from Demo Day and love Small Change</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@demo_day_contact) do |f| %>
              <%= f.error_notification %>

              <%= f.email_field :email, placeholder: "Email", label: false, class: 'form-control input-lg main-input' %>
              <%= f.input_field :message, placeholder: "I'm happy to be contacted about...", label: false, class: 'form-control input-lg main-input', style: 'margin-top:15px;' %>
              <button class="btn btn-black btn-lg btn-block btn-mobile" type="submit">SUBMIT</button>
            <% end %>

            <p style="font-size:18px;margin-top: 20px;">Can't find us in the crowd (even though one of us is 6ft8)?</p>
            <p style="font-size:18px;">Contact Sam on <a href="tel: 0432211241">0432 211 241</a> or <a href="mailto:sam@smallchangegiving.net">sam@smallchangegiving.net</a></p>
            <div class="text-center">
              <img src="http://res.cloudinary.com/small-change/image/upload/v1458196172/sc-concept2-highres-02_pc08ny.png" width="40%">
            </div>
            <%#= image_tag('http://res.cloudinary.com/small-change/image/upload/v1458196172/sc-concept2-highres-02_pc08ny.png', width: "20%", class: "pull-right") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div id="welcome" class="people-bg">
  <div class='gradient-overlay'>
    <div class="container">
      <div class='welcome-content col-xs-12 col-sm-6 col-sm-offset-3 text-center'>
        <h2 class="welcome-tagline">Making social media meaningful.</h2>
        <div class="hidden-xs hidden-sm">
          <%= simple_form_for(@submission) do |f| %>
            <%= f.error_notification %>
            <div class="form-inline">
              <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input', size: '40', autofocus: true %>
              <button class="btn btn-black btn-lg" type="submit">GET STARTED</button>
            </div>
          <% end %>
        </div>
        <div class="hidden-md hidden-lg">
          <%= simple_form_for(@submission) do |f| %>
            <%= f.error_notification %>
            <div class="form-inline">
              <%= f.input_field :url, placeholder: "Enter a link to an article", class: 'form-control input-lg main-input mobile-input', autofocus: true, size: '52' %>
              <button class="btn btn-black btn-lg btn-block btn-mobile" type="submit">GET STARTED</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="howitworks">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="sc-header black-header">How it Works</h2>
      <%= render 'home/timeline' %>
    </div>
  </div>
</div>
<div id="trending">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="sc-header black-header">Trending Articles</h2>
          <p class="sc-header-tagline">Some of the top performing articles that are raising funds and promoting petitions right now.</p>
        </div>
      </div>
      <%= render 'shared/featured' %>
      <div class="hidden-xs text-center">
        <%= link_to 'View all', submissions_path, class: 'btn btn-black btn-lg' %>
      </div>
      <div class="hidden-sm hidden-md hidden-lg text-center">
        <%= link_to 'View all', submissions_path, class: 'btn btn-black btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>
<div id="letsgo">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 text-center">
      <h2 class="sc-header">Let's go!</h2>
      <%= render 'shared/get_started_form' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#welcomeModal').modal('show');
</script>
