

<%= render 'layouts/header' %>

<div class = 'container'>

<div class = 'col-md-4 panel panel-default join'>
  <div class = 'row'>
    <div class = 'other_heading'>
      <h1 class = 'other_heading'>Join.</h1> <br/> 
    </div>
  </div>

  <h2> Sign Up For Beta</h2>

  <div class = 'row'>
    <div class = 'col-md-1'></div>
      <div class = 'col-md-10'>
        <br><br>
<%= simple_form_for(@beta_user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs centre">
    <%= f.input :email, placeholder: 'e.g. athenawright@gmail.com', class: 'centre', wrapper_html: { class: 'black' } %>
  </div>

  <div class = 'centre'><br>
    <p> <em> We will be in touch when we release our consumer version </em> </p>
  </div>





  <div class="form-actions centre ">
    <br><br><%= f.button :submit, "Sign Up", class: 'btn btn-warning btn-lg centre' %>
  </div>
<% end %>
        <br/><br>
      </div>
     <div class = 'col-md-1'></div>
  </div>
</div>

<div class='col-md-8'>
  <h3 class = 'centre'> Our Action Bar enables your social media posts to make a real <em><b>tangible</b></em> difference. </h3><br>
  <%= cl_image_tag("http://res.cloudinary.com/small-change/image/upload/v1454478366/Screen_Shot_2016-02-03_at_4.55.27_pm_nue4pk.png", size: "770x457", class: "centre demo") %>
</div>

</div>

