<div class="row featured-cards-thanks">
  <div class="card index-card-donation">
    <img class="card-img-top" src="<%= @submission.present? ? @submission.image  : "http://res.cloudinary.com/small-change/image/upload/v1458196252/sc-cut_kunq42.png" %>" width="100%" height="180px" alt="Submission Image">
    <div class="card-block">
      <div class="row">
        <div class="col-xs-12">
          <h4 id="card-title"><%= @submission ? @submission.title : "Title" %></h4>
          <p class="donation-brag"> <%= @submission.description %></p>
        </div>
      </div>
      <div class="card-bottom">
        <div class='row'>
          <div class='col-xs-5 col-offset-1'>
            <p id="card-text-thanks"><%= @submission.present? ? truncate(strip_url(@submission.url), length:20) : example.com %></p>
          </div>
          <div class='col-xs-offset-2 col-xs-2'>
            <a href="http://www.facebook.com/sharer.php?u=<%= submission_url(@submission.slug) %>/&t=Small Change Giving" class="btn btn-thanks-share">
              <i class="fa fa-facebook-square facebook-icon"></i><p class="share-text"> Share</p>

            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1532051933754077',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>