<% @submission = Submission.find(params[:submission]) %>
<% @charity = Charity.find(params[:charity]) %>



 <div class="row">
      <div class = 'col-lg-6'>
      </div>
       <div class = 'col-lg-6'>
          <h3 class = 'centre'> Step 4: Select Amount</h3>	
      </div>
 </div>

<br>

<div class = 'row'>
	<div class = 'col-lg-6'>
		<div class = 'panel panel-default'>
			<div class="panel-heading">
    			<h3 class="panel-title">Small Change Package</h3>
  			</div>
			<div class = 'panel-body'>
				<div class = 'row'>
					<div class = 'col-sm-7'>
						<br><b><p class = "article-title"> <%= @submission.title %> </p></b>	
					</div>
					<div class = 'col-sm-5 centre'>
						<%= link_to image_tag(@submission.image, size: "210x160", :class => 'img-responsive'), @submission.url, :target => "_blank" %>
	 				</div>
	 			</div>
	 			<br>
	 			<div class = 'row bdrtop'>
	 				<div class = 'col-md-1'>
	 				</div>
	 				<div class = 'col-md-6'>
	 					<br><p><em><%= @submission.description %></em></p>
	 				</div>
	 				<div class = 'col-md-1'>
	 				</div>
	 				<div class = 'col-md-3'>
	 				<br><br><%= link_to image_tag(@submission.favicon, size: "160x150", :class => 'img-responsive'), @submission.url, :target => "_blank" %>
	 				</div>
	 			</div><br>

	 			<div class = 'row bdrtop'>
	 				<div class = 'col-sm-8'>
					<br><h1> <%= Charity.find(params[:charity]).name %> </h1>
					</div>
					<div class = 'col-sm-4'>
						<br><%= link_to image_tag(Charity.find(params[:charity]).logo , size: "120x120", :class => 'img-responsive centre'), charity_path(@charity.id) %>

						
	 				</div>
	 			</div>
			</div>
		</div>
	</div>

	<div class = 'col-lg-6'>
		<div class = 'panel panel-default'>
			<div class = 'panel-heading'>
				<h3 class = 'panel-title'> <%= image_tag(@charity.logo, size: '25x20') %>  <%= "    " %> <%=@charity.name %></h3>
			</div>
			<div class = 'panel-body'>
				<div class = 'row'>
					<div class = 'donate-buttons'>
						<div class="col-md-4">
					     	<div class = "centre"> 
					     		<a href="#"  onclick="changeValue(1)" id="1"><%=  image_tag("OneCharity.png", size: "250x250", :class => 'img-responsive hvr-grow') %></a>
					     	</div>
						</div>
					</div>

					<div class = 'donate-buttons'>
						<div class="col-md-4">
					     	<div class = "centre"> 
					     		<a href="#"  onclick="changeValue(2)" id="2"><%=  image_tag("TwoCharity.png", size: "250x250", :class => 'img-responsive hvr-grow') %></a>
							</div>
						</div>
					</div>

					<div class = 'donate-buttons'>
						<div class="col-md-4">
					     	<div class = "centre"> 
					     		<a href="#"  onclick="changeValue(5)" id="5"><%=  image_tag("ThreeCharity.png", size: "250x250", :class => 'img-responsive hvr-grow') %></a>
					     	</div>
						</div>
					</div>
	 			</div>

	 			<div class="row">
					<br><br>
	  			
						<div class = 'col-lg-2'>
						</div>

				  		<div class="col-lg-8">
				  		 <%= simple_form_for @donation, url: donations_path(charity: params[:charity], submission: params[:submission]) do |f| %>
				  			<div class="input-group">
				     			<input type="text" name="donation[amount]" id="donation_amount" class="form-control" placeholder="Enter Other Amount (AUD $)" value="">
				      			<span class="input-group-btn">
				        			<div class="btn btn-info">Donate</div>
				      			</span>
				    		</div><!-- /input-group -->
				    	<% end %>
				  		</div><!-- /.col-lg-6 -->

				  		<div class = 'col-lg-2'>
						</div>
				 
				</div>		  	
			</div>
		</div>	
	</div>
</div>

<script>
   function changeValue(o){
     document.getElementById('donation_amount').value=o;
    }
</script>


<% if current_user.admin %>
<br><br><br><br><br><br><br><br>


<%= render 'form' %>

<%= link_to 'Back', donations_path %>
<% end %>

</div>
