<div class="hidden-xs hidden-sm">
  <div class="navbar navbar-static-top">
    <div class='banner banner-bg'>
      <div class="container">
        <div class="row">
          <div class="col-md-2 banner-headers">
            <a href="<%= root_path %>">
              <p class="banner-header-word">SMALL</p>
              <p class="banner-header-word">CHANGE</p>
            </a>
          </div>
          <div class="col-md-5 text-align">
            <% if @submission.link_clicks.to_i > 1 %>
              <p class="banner-tagline"><%= @submission.link_clicks %> people have taken action already.</p>
            <% else %>
              <p class="banner-tagline">Feel strongly about this article?</p>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if params[:type] == "donation" %>
              <span>
                <%= link_to '$2', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity200()' %>
              </span>
              <span>
                <%= link_to '$3', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity300()' %>
              </span>
              <span>
                <%= link_to '$5', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity500()' %>
              </span>
            <% else %>
              <span><%= link_to 'Take Action', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg btn-block', onclick: 'openPetition()' %></span>
            <% end %>
          </div>
          <div class="col-md-2 banner-headers">
            <a href="<%= root_path %>" target="_blank" class="">
              <p class="banner-header-word">WHAT</p>
              <p class="banner-header-word">IS THIS?</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-md hidden-lg">
  <div class="navbar navbar-static-top">
    <div class='banner-mobile banner-bg'>
      <div class="col-xs-4 banner-headers-mobile">
        <a href="<%= root_path %>" target="_blank" class="">
          <p class="banner-header-word">SMALL</p>
          <p class="banner-header-word">CHANGE</p>
        </a>
      </div>
      <div class="col-xs-8">
        <% if params[:type] == "donation" %>
          <span><%= link_to 'Donate Now', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner-mobile btn-lg', onclick: 'openCharity300()' %></span>
        <% else %>
          <span><%= link_to 'Take Action', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner-mobile btn-lg', onclick: 'openPetition()' %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
function openCharity200() {
  window.open("https://donate.smallchangegiving.co/donations/new/?user_id=<%= current_user.id %>&charity_name=<%= @charity.name %>&amount=200&charity_id=<%= @charity.id %>&submission_id=<%= @submission.id %>");
}
function openCharity300() {
  window.open("https://donate.smallchangegiving.co/donations/new/?user_id=<%= current_user.id %>&charity_name=<%= @charity.name %>&amount=300&charity_id=<%= @charity.id %>&submission_id=<%= @submission.id %>");
}
function openCharity500() {
  window.open("https://donate.smallchangegiving.co/donations/new/?user_id=<%= current_user.id %>&charity_name=<%= @charity.name %>&amount=500&charity_id=<%= @charity.id %>&submission_id=<%= @submission.id %>");
}
</script>


<script>
function openPetition() {
  window.open("<%= @submission.petition_link %>");
}
</script>
