<div class='banner'>
  <div class='col-xs-3 col-md-2 col-md-offset-1'>
    <%= link_to image_tag('whatis.png', class: 'whatis'), new_user_registration_path, :target => "_blank"  %>
  </div>

  <div class='col-xs-9 col-md-9'>
    <% if @submission.submission_type == "donation" %>
      <%= link_to "Take Action On This Issue, Donate Here.", counter_submission_path, class: 'banner_button', onclick: 'openCharity()' %>
    <% else %>
      <%= link_to "Take Action On This Issue, Sign This Petition.", counter_submission_path, class: 'banner-button', onclick: 'openPetition()' %>
    <% end %>
  </div>
</div>

<script>
  function openCharity() {
    window.open("<%= @submission.charity_link %>");
  }
  function openPetition() {
    window.open("<%= @submission.petition_link %>");
  }
</script>


 <!-- size:'120x45', -->