<div class="hidden-xs hidden-sm">
  <div class="navbar navbar-static-top">
    <div class='banner banner-bg'>
      <div class="container">
        <div class="row">
          <div class="col-md-2 banner-headers">
            <a href="<%= root_path %>" target="_blank" class="">
              <span type="button" data-toggle="popover" data-placement="bottom" data-container="body" title="Small Change" data-content="We are trying to solve “slacktivism” or “Facebook Activism”. The humble like, share or retweet won’t fix the world’s problems. We're making social media meaningful." data-trigger="hover">
                <p class="banner-header-word">SMALL </p>
                <p class="banner-header-word">CHANGE</p>  
              </span>
            </a>
          </div>
          <div class="col-md-2">
            <a href="http://www.facebook.com/sharer.php?u=<%= submission_url(@submission.slug) %>/&t=Small Change Giving" class="btn btn-share"><i class="fa fa-facebook-official fa-fb"></i> Share</a>
          </div>
          <div class="col-md-3 text-align">
            <% if @submission.submission_type=="donation" %>
              <p class="banner-tagline-donation-top">
                <span type="button" data-toggle="popover" data-placement="bottom" title="What <%= @charity.name if @charity %> does." data-content="<%= @charity_category.description %> You can help them out through this Action Bar." data-trigger="hover">
                  <i style="font-size:18px;" class="fa fa-question-circle"></i><%= @charity.name if @charity %>
                </span>
              </p>
              <p class="banner-tagline-donation">$<%= @amount %> small changed already</p>
            <% elsif @submission.link_clicks.to_i > 1 %>
              <p class="banner-tagline"><span type="button" data-toggle="popover" data-placement="bottom" data-title="Join the movement." data-content="Our Take Action button leads to <%= strip_url(@submission.petition_link) %> where you can make a meaningful impact on the issue below." data-trigger="hover"><%= @submission.link_clicks %> people have taken action already.</span></p>
            <% else %>
              <p class="banner-tagline">Feel strongly about this article?</p>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if @submission.charity_category_id.present? %>
              <span>
                <%= link_to '$2', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity200()' %>
              </span>
              <span>
                <%= link_to '$3', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity300()' %>
              </span>
              <span>
                <%= link_to '$5', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg', onclick: 'openCharity500()' %>
              </span>
            <% else %>
              <span><%= link_to 'Take Action', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner btn-lg btn-block', onclick: 'openPetition()' %></span>
            <% end %>
          </div>
          <div class="col-md-2 banner-headers">
            <span type="button" data-toggle="popover" data-placement="bottom" title="The Action Bar." data-content="The Action Bar provides your Facebook friends with a way to take meaningful action on the content you share." data-trigger="hover">
              <p class="banner-header-word">WHAT</p>
              <p class="banner-header-word">IS THIS?</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-md hidden-lg">
  <div class="navbar navbar-static-top">
    <div class='banner-mobile banner-bg'>
      <div class="col-xs-7 banner-headers-mobile">
        <a href="<%= root_path %>" target="_blank" class="">
          <p class="banner-header-word">SMALL </p>
          <p class="banner-header-word">CHANGE</p>
        </a>
        </span>
      </div>
      <div class="col-xs-5">
        <% if @submission.charity.present? %>
          <span><%= link_to 'Donate Now', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner-mobile btn-lg', onclick: 'openCharity300()' %></span>
        <% else %>
          <span><%= link_to 'Take Action', counter_submission_path(submission_id: @submission.id), class: 'btn btn-banner-mobile btn-lg', onclick: 'openPetition()' %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @submission.charity.present? %>
<script>
function openCharity200() {
  window.open("https://donate.smallchangegiving.co/donations/new/?<%= "user_id=" + current_user.id.to_s if user_signed_in? %>&charity_name=<%= Charity.find(@submission.charity).name %>&amount=200&charity_id=<%= @submission.charity.to_s %>&submission_id=<%= @submission.id.to_s%>");
}
function openCharity300() {
  window.open("https://donate.smallchangegiving.co/donations/new/?<%= "user_id=" + current_user.id.to_s if user_signed_in? %>&charity_name=<%= Charity.find(@submission.charity).name %>&amount=300&charity_id=<%= @submission.charity.to_s %>&submission_id=<%= @submission.id.to_s %>");
}
function openCharity500() {
  window.open("https://donate.smallchangegiving.co/donations/new/?<%= "user_id=" + current_user.id.to_s if user_signed_in? %>&charity_name=<%= Charity.find(@submission.charity).name %>&amount=500&charity_id=<%= @submission.charity.to_s %>&submission_id=<%= @submission.id.to_s %>");
}
</script>
<% end %>


<script>
function openPetition() {
  window.open("<%= @submission.petition_link %>");
}
</script>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
