 


  
  <div class = 'banner', style="max-height: 90px">

      <div class = 'col-sm-2'>
        <%= link_to image_tag('greenpeace-logo.jpg', size: "150x55", class: "hvr-grow round-two charity-padding"), 'http://www.greenpeace.org/australia/en/about/', :target => "_blank"%>
      </div>

      <div class = 'col-md-5'>
      <h3 class = 'black'> Take Real Action </h3>
      </div>

      <div class = 'col-sm-1 payment hvr-grow'>
          <%= render 'payment_button_one' %>        
      </div>
      <div class = 'col-sm-1 payment hvr-grow'>
          <%= render 'payment_button_two' %>        
      </div>
      <div class = 'col-sm-1 payment hvr-grow'>
          <%= render 'payment_button_five' %>        
      </div>

      <div class = 'col-sm-1'></div>
      
       <div class = 'col-sm-1'>
<!--           <%= link_to image_tag('tin.png', size: "100x140"), charity_path(@charity, submission: @submission.id) %>
 -->      </div>

    
  </div>
  
