<div class='banner'>
  <div class='col-xs-3 col-md-2 col-md-offset-1'>
    <div class="hidden-xs hidden-sm">  
      <%= link_to image_tag('whatis.png', class: 'whatis'), new_user_registration_path, :target => "_blank"  %>
    </div>
    <div class="hidden-md hidden-lg">
      <%= link_to image_tag('SmallChange.png', class: 'whatis'), new_user_registration_path, :target => "_blank"  %>
    </div>
  </div>

  <div class='col-xs-9 col-md-9'>
    <% if @submission.submission_type == "donation" %>
      <div class="hidden-xs hidden-sm">  
        <%= link_to "Take Action On This Issue, Donate Here.", counter_submission_path, class: 'banner_button', onclick: 'openCharity()' %>
      </div>
      <div class="hidden-md hidden-lg">
        <%= link_to "Give Now.", counter_submission_path, class: 'banner_button', onclick: 'openCharity()' %>
      </div>
    <% else %>
      <div class="hidden-xs hidden-sm">  
        <%= link_to "Take Action On This Issue, Sign This Petition.", counter_submission_path, class: 'banner_button', onclick: 'openPetition()' %>
      </div>
      <div class="hidden-md hidden-lg">
        <%= link_to "Sign Petition.", counter_submission_path, class: 'banner_button', onclick: 'openPetition()' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function openCharity() {
    window.open("<%= @submission.charity_link %>");
  }
  function openPetition() {
    window.open("<%= @submission.petition_link %>");
  }
</script>


 <!-- size:'120x45', -->