<div class='banner'>
  <div class='col-xs-12 col-sm-12 col-md-2'>
    <%= link_to image_tag('whatis.png', size:'120x45', class: 'whatis'), new_user_registration_path, :target => "_blank"  %>
  </div>

  <div class='col-md-10'>
    <% if @submission.submission_type == "donation" %>
      <%= link_to "Take Action On This Issue, Donate Here.", counter_submission_path, class: 'donate_button', onclick: 'openCharity()' %>
    <% else %>
      <%= link_to "Take Action On This Issue, Sign This Petition.", counter_submission_path, class: 'petition_button', onclick: 'openPetition()' %>
    <% end %>
  </div>
</div>

<script>
  function openCharity() {
    window.open("<%= @submission.charity_link %>");
  }
  function openPetition() {
    window.open("<%= @submission.petition_link %>");
  }
</script>
