<div class='submission-image'>
  <br><img src="<%= @submission.image %>", width="100%" >
</div>
<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1'>
  <h1 class='submission-title'> <%= @submission.title %></h1>
  <p class='submission-description'><%= @submission.description %></p>
  <div class="read-more">
    <%= link_to "Take Action Through Small Change", '', class: 'btn btn-black-show btn-block' %>
    <%= link_to "<i class='fa fa-chevron-down'> Or Read More</i>".html_safe, @submission.url, class: 'btn btn-black-show btn-block' %>
  </div>
</div>

