<div class='submission-image'>
  <img src="<%= @submission.image %>", width="100%" class="xs-preview-img">
</div>
<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1'>
  <div class="submission-source">
    <%= strip_url(@submission.url) %>
  </div>
  <div class='description-box'>
    <hr>
    <p class='submission-description'><%= @submission.description %><br>
  </div>
  <div class="">
    <%= link_to "Read more <i class='fa fa-chevron-down'></i>".html_safe, @submission.url, class: 'btn btn-black-show btn-block' %>
  </div> 
  <div class="stat-box">
    <p class="top-line"> <%= @submission.link_clicks %> Actions </p>
    <p class="bot-line"> taken through <%= strip_url(@submission.url) %> </p>
  </div>   
</div>

