<p id="notice"><%= notice %></p>

<h1>Trending Articles</h1>





<table class="table table-hover">



  <thead>
    <tr>
      <th>Title</th>
      <th>Thumbnail </th>
      <th>Source</th>
      <th>Description</th>
      <th>Charity</th>
      <th>Amount Raised</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><b><%= submission.title %></b></td>
        <td><%= image_tag(submission.image, width: 150, height: 100) %></td>
        <td><%= image_tag(submission.favicon, width: 100) %></td>
        <td><%= submission.description %></td>
        <td><%= submission.charity %></td>
        <td> $473 </td>
        
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'New Submission', new_submission_path %>
