<% provide(:title, "Trending Articles") %>

<p id="notice"><%= notice %></p>
<br>

<h1>Trending Articles</h1><br>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Source </th>
      <th>Title</th>
      <th><center> Actions Taken</center> </th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr data-link="<%= submission_path(submission) %>">
        <td><%= cl_image_tag(submission.image, width: 150, height: 100) %></td>
        <td><%= cl_image_tag(submission.favicon, width: 100) %></td>
        <td><h4><em><%= submission.title %></em></h4></td>
        <td><p class = "count_number"><%= submission.link_clicks %></p></td>
      </tr>
    <% end %>
  </tbody>

</table>


