<p id="notice"><%= notice %></p>
<br>

<h1>Trending Articles</h1>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Source </th>
      <th>Title</th>
      <th>Charity</th>
      <th>Amount Raised</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= cl_image_tag(submission.image, width: 150, height: 100) %></td>
        <td><%= cl_image_tag(submission.favicon, width: 100) %></td>
        <td><em><%= submission.title %></em></td>
        <td><%= cl_image_tag(@charities.find_by(id: submission.charity).logo, width: 100, height: 100) unless submission.charity==nil %> </td>
        <td> $473 </td>

          <td><br><%= link_to 'See Article', submission, class: 'btn btn-success' %></td>

        
      </tr>
    <% end %>
  </tbody>

</table>
