<% provide(:title, "Trending Articles") %>

<div id="trending-articles">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% @submissions.each do |submission| %>
        <div class="panel">
          <div class="panel-body">
            <div class="hidden-xs col-sm-3">
              <%= cl_image_tag(submission.image, class: 'img-responsive') %>
            </div>
            <div class="col-xs-12 col-sm-9">
              <a href="<%= submission_path(submission) %>"><h4><%= submission.title %></h4></a>
              <p class="card-text"><%= strip_url(submission.url) %></p>
              <span class=""><%= submission.link_clicks %> Actions taken.</span>
              <span style="text-transform:uppercase;float:right;"><%= submission.submission_type %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
