<%= simple_form_for(@charity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true %>
    <%= f.input :logo, :required => true  %>
    <%= f.input :blurb, :required => true  %>
    <%= f.association :cause, collection: @causes, :required => true %>
    <%= f.input :url %>
    <%= f.input :bsb %>
    <%= f.input :account_number %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
