<%= simple_form_for(@charity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, input_html: { value: @user_password }%>
    <%= f.input :logo %>
    <%= f.association :causes, collection: @causes %>
    <%= f.input :bsb %>
    <%= f.input :account_number %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :abn %>
    <%= f.input :address %>
    <%= f.input :youtube_link, label: "Embeded Youtube Link (not just the normal URL)", :required => true %>
    <%= f.input :activity_one, :required => true %>
    <%= f.input :activity_two, :required => true %>
    <%= f.input :activity_three, :required => true %>





  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
