<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @charity.logo, width: '380px', class: 'img-responsive' %>
</p>



<p>
  <strong>Category:</strong>
   <% @charity.causes.each_with_index do |cause, index| %>
    <%= cause.name %>
    <%= "," unless index == @charity.causes.count - 1 %>

    <%end%>
</p>


<p>
  <strong>BSB:</strong>
  <%= @charity.bsb %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @charity.account_number %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @charity.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @charity.contact_email %>
</p>

<p>
  <strong>ABN:</strong>
  <%= @charity.abn %>
</p>

<p>
  <strong>Address:</strong>
  <%= @charity.address %>
</p>

<p>
 <!--  <strong>Cause:</strong>
</p> -->

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
