<table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td bgcolor="f9fafa" style="border:0;margin:0;padding:0">

            
            <table style="background-image: linear-gradient(-225deg, rgba(0,216,213,0.88) 0%, rgba(0,176,92,0.88) 100%)" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="border:0;margin:0;padding:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="border:0;margin:0;padding:0">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
                              <tbody>
                                <tr>
                                  <td align="center" height="20" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#48c3c4;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                    Thanks for your <%= number_to_currency(@donation.amount / 100) %> <span class="il">payment</span> to <span style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#48c3c4;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"><span class="il"> Small</span><span class="il">Change</span> Pty Ltd</span>.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    

                    
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                      <tbody>
                        <tr>
                          <td height="7" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                            <div style="min-height:7px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" valign="middle">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                  <div style="min-height:1px;width:20px"></div>
                                </td>
                                <td style="border:0;margin:0;padding:0" width="100%">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td align="center" height="72" style="border:0;margin:0;padding:0">
                                          <a href="http://www.smallchangegiving.co" style="border:0;margin:0;padding:0" target="_blank">
                                            <span>
                                              <img alt="" height="72" src="http://res.cloudinary.com/small-change/image/upload/v1462948361/Hand_White_Background_ylfgpo.png" style="border:0;margin:0;padding:0;" width="84" class="CToWUd">
                                            </span>
                                          </a>
                                        </td>
                                      </tr>
                                    <tr>
                                      <td height="22" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                        <div style="min-height:22px;width:1px">&nbsp;</div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="center" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:25px">
                                          <span style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:25px"><%= number_to_currency(@donation.amount / 100) %></span><a href="http://www.smallchangegiving.co" style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:25px;text-decoration:none" target="_blank"><span style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:25px;text-decoration:none; font-weight: 100"><span class="il"> Receipt from Small</span><span class="il"> Change</span> Pty Ltd</span></a>
                                      </td>
                                    </tr>

                                      
                                      <tr>
                                        <td height="13" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                          <div style="min-height:13px;width:1px">&nbsp;</div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" height="1" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                          <table align="center" border="0" cellpadding="0" cellspacing="0" width="200">
                                            <tbody>
                                              <tr>
                                                <td bgcolor="#40afb0" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                  <div style="min-height:1px;width:200px">&nbsp;</div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="18" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                          <div style="min-height:18px;width:1px">&nbsp;</div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                          <table border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="border:0;margin:0;padding:0" valign="top">
                                                <span>
                                                  <img alt="MasterCard" src="<%= Charity.find(@donation.charity_id).logo%>" style="border:0;margin:0;padding:0" width="75" class="CToWUd">
                                                </span>
                                              </td>
                                              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="6">
                                                <div style="min-height:1px;width:6px">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        </td>
                                      </tr>
                                      

                                  </tbody></table>
                                </td>
                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                  <div style="min-height:1px;width:20px"></div>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                        <tr>
                          <td height="27" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                            <div style="min-height:27px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    

                    
                    <table bgcolor="#40afb0" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <table border="0" cellpadding="0" cellspacing="0" width="500">
                              <tbody>
                                <tr>
                                  <td colspan="4" height="8" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                    <div style="min-height:8px;width:1px">&nbsp;</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                    <div style="min-height:1px 20px"></div>
                                  </td>
                                  <td align="left" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px" width="230">
                                    <span style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px"><%= @donation.created_at.strftime("%d %B, %Y | %l:%M %P") %></span>
                                  </td>
                                  <td align="right" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px" width="230">
                                    <span style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px">ACN: 610 690 205</span>
                                  </td>
                                  <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                    <div style="min-height:1px 20px"></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="4" height="8" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                    <div style="min-height:8px;width:1px">&nbsp;</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    

                  </td>
                </tr>
              </tbody>
            </table>
            

              
<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #e4e6e8" width="100%">
  <tbody>
    <tr>
      <td align="center" style="border:0;margin:0;padding:0">
        <table border="0" cellpadding="0" cellspacing="0" width="500">
          <tbody>
            <tr>
              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                <div style="min-height:1px;width:20px"></div>
              </td>
              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="460">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>

                    
                    <tr>
                      <td colspan="5" height="12" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                        <div style="min-height:12px;width:1px">&nbsp;</div>
                      </td>
                    </tr>
                    <tr>
                      <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                        <div style="min-height:1px;width:1px"></div>
                      </td>
                      <td align="left" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#77858c;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:20px" width="100%">
                        Description
                      </td>
                      <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="10">
                        <div style="min-height:1px;width:10px"></div>
                      </td>
                      <td align="right" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#77858c;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:20px" width="120">
                        Amount
                      </td>
                      <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                        <div style="min-height:1px;width:1px"></div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" height="12" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;border-bottom:1px solid #eaeff2">
                        <div style="min-height:12px;width:1px">&nbsp;</div>
                      </td>
                    </tr>
                    

                      
                      <tr>
                        <td colspan="5" height="11" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;border-top:1px solid #eaeff2">
                          <div style="min-height:11px;width:1px">&nbsp;</div>
                        </td>
                      </tr>
                      <tr>
                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                          <div style="min-height:1px;width:1px"></div>
                        </td>
                        <td align="left" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#292e31;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:17px" width="100%">
                          <span style="border:0;margin:0;padding:0"><%= Charity.find(@donation.charity_id).name%></span>
                        </td>
                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="10">
                          <div style="min-height:1px;width:10px"></div>
                        </td>
                        <td align="right" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#292e31;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:17px" width="120">
                          <%= number_to_currency(@donation.amount / 100) %>
                        </td>
                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                          <div style="min-height:1px;width:1px"></div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="5" height="12" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                          <div style="min-height:12px;width:1px">&nbsp;</div>
                        </td>
                      </tr>
                      

                    
                    <tr>
                      <td colspan="5" align="right" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;border-top:2px solid #eaeff2">
                        <table border="0" cellpadding="0" cellspacing="0" width="320">
                          <tbody>

                            
                            <tr>
                              <td colspan="5" height="11" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                <div style="min-height:11px;width:1px">&nbsp;</div>
                              </td>
                            </tr>
                            <tr>
                              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                                <div style="min-height:1px;width:1px"></div>
                              </td>
                              <td align="left" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#292e31;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:17px" width="100">
                                Total
                              </td>
                              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="10">
                                <div style="min-height:1px;width:10px"></div>
                              </td>
                              <td align="right" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#292e31;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:17px" width="208">
                                <%= number_to_currency(@donation.amount / 100) %>
                              </td>
                              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                                <div style="min-height:1px;width:1px"></div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="5" height="12" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                <div style="min-height:12px;width:1px">&nbsp;</div>
                              </td>
                            </tr>
                            

                          </tbody>
                        </table>
                      </td>
                    </tr>
                    

                  </tbody>
                </table>
              </td>
              <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                <div style="min-height:1px;width:20px"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>



            
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="border:0;margin:0;padding:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                      <tbody>
                        <tr>
                          <td colspan="3" height="37" style="border:0;margin:0;padding:0">
                            <div style="min-height:37px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <div style="min-height:1px;width:20px"></div>
                          </td>
                          <td align="center" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#515f66;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;line-height:21px">
                            Have a question or need help?
                            <a href="mailto:henry@smallchangegiving.co" style="border:0;margin:0;padding:0;color:#515f66;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-decoration:none" target="_blank"><span style="border:0;margin:0;padding:0;color:#008cdd;text-decoration:none">Send us an email</span></a>, or <a href="tel:+61432211241" style="border:0;margin:0;padding:0;color:#515f66;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-decoration:none" target="_blank"><span style="border:0;margin:0;padding:0;color:#008cdd;text-decoration:none">give us a call on 0432  211 241</span></a>
                          </td>
                          <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <div style="min-height:1px;width:20px"></div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" height="37" style="border:0;margin:0;padding:0">
                            <div style="min-height:37px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" align="center" height="1" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="200">
                              <tbody>
                                <tr>
                                  <td bgcolor="edeff0" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                    <div style="min-height:1px;width:200px">&nbsp;</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            

            
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="border:0;margin:0;padding:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                      <tbody>
                        <tr>
                          <td colspan="3" height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <div style="min-height:28px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                          

                        <tr>
                          <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                            <div style="min-height:1px;width:20px"></div>
                          </td>
                          <td align="center" style="border:0;margin:0;padding:0;color:#959fa5;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px">
                              You are receiving this email because you made a donation at <a href="http://www.smallchangegiving.co" style="border:0;margin:0;padding:0;color:#008cdd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-decoration:none" target="_blank"><span style="border:0;margin:0;padding:0;color:#008cdd;text-decoration:none"><span class="il">Small</span> <span class="il">Change</span> Pty Ltd</span></a>.

                          </td>
                          <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                            <div style="min-height:1px;width:20px"></div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" height="4" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <div style="min-height:4px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                            <div style="min-height:28px;width:1px">&nbsp;</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>