<%= simple_form_for(@enquiry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <% if params[:enquiry_type] %>
    <%= f.input :enquiry_type, as: :hidden, input_html: { value: params[:enquiry_type]} %>
  <% else %>

  <!-- if you just go enquiries/new -->
    <%= f.input :enquiry_type, collection: ['General enquiry', 'You scammed me'] %>                
  <% end %>

  <% if user_signed_in? %>
    <%= f.input :name, input_html: { value: current_user.name } %>
    <%= f.input :email, input_html: { value: current_user.email } %>
    <%else%>

  <%= f.input :name, placeholder: 'e.g Olivia Smith' %>
  <%= f.input :email, placeholder: "e.g olivia@hotmail.com     (hotmail. is this the 90's?)" %>

  

  <%end%>
<%= f.input :message %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
