<footer class="footer">

  <small>
    <ul>
      <li><%= link_to "Contact Us", new_enquiry_path(enquiry_type: "General") %></li>
      <li><%= link_to "FAQ", "/FAQ" %></li>
      <li><%= link_to "About The Founders", "/founders" %></li>
      <li><%= link_to "T&C", termsandconditions_path %></li>
    </ul>
  </small>

  <nav>
    <ul>

      
      <li><%= link_to "I'm A News Outlet", new_enquiry_path(enquiry_type: 'News Organisation') %></li>
      <li><%= link_to "I'm A Charity", new_enquiry_path(enquiry_type: 'Charity') %></li>
    </ul>

  </nav>
</footer>