<footer class="footer">
  <small>
      <li><%= link_to "Contact Us", "/contact" %></li>
      <li><%= link_to "FAQ", "/FAQ" %></li>
      <li><%= link_to "About The Founders", "/founders" %></li>
      <li><%= link_to "T&C", "/terms&conditions" %></li>
  </small>
  <nav>
    <ul>

      
      <li><%= link_to "I'm A News Outlet", "newscontact" %></li>
      <li><%= link_to "I'm A Charity", "charitycontact" %></li>
    </ul>

  </nav>
</footer>