<footer class="footer">
  <small>
      <li><%= link_to "Contact Us", "#" %></li>
      <li><%= link_to "FAQ", "#" %></li>
      <li><%= link_to "About The Founders", "#" %></li>
      <li><%= link_to "T&C", "#" %></li>
  </small>
  <nav>
    <ul>

      
      <li><%= link_to "I'm A News Outlet", "#" %></li>
      <li><%= link_to "I'm A Charity", "#" %></li>
    </ul>
    
  </nav>
</footer>