<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Small Change", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Situation At A Glance",   '#' %></li>
        <li><%= link_to "Donate To Small Change",   '#' %></li>
        <li><%= link_to "Our Goal", 'goal' %></li>
        <li><%= link_to "My Small Change", '#' %></li>
      </ul>
    </nav>
  </div>
</header>