<% provide(:title, "About Small Change") %>


<%= render 'layouts/header' %>



    
    <div class = 'row'>
        <div>
            <center><h1>About <small>Small Change Ending Slacktivism</small></h1></center>
        </div>
    </div>


  <div class = 'row'>
    <br><br><h3 class='centre'> Our <b><em>Action Bar </em></b> gives your social media followers an easy way of taking action.</h3><br>
    <center><p><em> We are currently running some tests. We are launching our Beta Version soon. Join us below </em></p></center>
  </div>
  <br><br>
  <div class = 'row'>
  <center>
  <%= image_tag('aboutustwo.png', width: 1000, height: 600,) %>
  </center>
  </div>
</div>

  <br><br><div class = 'col-md-12'>

  <div class = 'row'>
    <div class = 'col-md-3'></div>
      <div class = 'col-md-6'>
        <br><br>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <center><h2> Sign Up <small>for Small Change</small> </h2></center><br><br>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true, placeholder: 'e.g. aishajones@gmail.com' %><br/>
                <%= f.input :password, required: true%>
                <%= f.input :admin,  as: :hidden %> 
              </div>
              <div class="form-actions centre">
                  <br><%= f.button :submit, "Sign Up", class:'btn-success btn-lg' %> <br/>
              </div>
          <% end %>
        <br/><br>
      </div>
     <div class = 'col-md-3'></div>
  </div>
</div>


<br><br><br><br>

      





